HANET_CLIENT_ID=your_partner_client_id
HANET_CLIENT_SECRET=your_partner_client_secret
HANET_PLACE_ID=your_place_id
HANET_ACCESS_TOKEN="your_access_token_here"
# HANET_REFRESH_TOKEN="your_refresh_token_here"