{
  "openapi": "3.0.0",
  "info": {
    "title": "HANETDeveloperAPI",
    "version": "1.0.0",
    "description": "BộSDKđượcsinhtựđộngchoHANETDeveloperAPI(CameraAI,FaceRecognition,Checkin,Places,Departments)"
  },
  "servers": [
    {
      "url": "https://partner.hanet.ai",
      "description": "LivePartnerAPIServer"
    },
    {
      "url": "https://oauth.hanet.com",
      "description": "OAuth2Server"
    }
  ],
  "paths": {
    "/oauth2/authorize": {
      "get": {
        "summary": "/oauth2/authorize",
        "description": "HANETsửdụng`OAuth2`đểcấpquyềnchoclientcóthểtruyxuấtthôngtincácthiếtbị",
        "operationId": "oauth2Authorize",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "description": "HANETAPIhỗtrợ2loạiGranttypelà\"AuthorizationCode\"và\"Implicit\"",
            "required": true,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "client_idđượcHANETcấpriêng",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<CLIENT_ID>"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "callbackURLcủađốitác,nếuclientapproval,HANETsẽgọi<redirect_uri>?code=AUTHORIZATION_CODE",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<URL>"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Thamsốscope",
            "required": true,
            "schema": {
              "type": "string",
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/token": {
      "post": {
        "summary": "/token",
        "description": "APInàyChophépđốitáclấytoken\n\nChúý:paramgrant_type\nCase1:Dùnggrant_typelàauthorization_codeđểlấytoken.\nCase2:Dùnggrant_typelàrefresh_tokenđểlấylạirefeshTokenkhitokenhếthạn",
        "operationId": "token",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Thamsốgrant_type",
                    "default": "refresh_token"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "client_idđượcHANETcấpriêng",
                    "default": "<CLIENT_ID>"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Thamsốclient_secret",
                    "default": "<CLIENT_SECRET>"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Thamsốrefresh_token",
                    "default": "<REFRERSH_TOKEN>"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "refresh_token"
                ]
              }
            }
          }
        }
      }
    },
    "/partner/updateToken": {
      "post": {
        "summary": "/partner/updateToken",
        "description": "KhicóeventxảyratrênthiếtbịcủaHANET,backendcủaHANETsẽchủđộngđẩydatavềchoclientthôngqua`webhook`màclientcungcấp.Nếuclientcónhiềutậpuserkhácnhau,màmuốnphânbiệtdatathuộcvềusernào,thìcầnupdatechoHANETbiếtID/Tokencủauserđó.Gọilà`partner_token`",
        "operationId": "partnerUpdateToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerUpdateTokenResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Partner"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "access_tokenlấyđượctừOAuth2",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "partner_token": {
                    "type": "string",
                    "description": "tokencủapartner,tươngứngvớiuserhiệntại",
                    "default": "<any_token_from_partner>"
                  }
                },
                "required": [
                  "access_token",
                  "partner_token"
                ]
              }
            }
          }
        }
      }
    },
    "/partner/addPlacePartner": {
      "post": {
        "summary": "/partner/addPlacePartner",
        "description": "HANETquảnlýthiếtbịtheođịađiểm.\r\n-1tàikhoảnHANETcóthểquảnlýnhiềuđịađiểm\r\n-1địađiểmcóthểcónhiềuthiếtbị\r\n\r\nMặcđịnhlàkhibấtkìthiếtbịcóeventxảyra,HANETđềuđẩydatavềchođốitácthôngqua`webhook`.Tuynhiên,đốitáccóthểchouserquảnlýđịađiểmnàothìmớiđẩydatađikhicósựkiệnxảyra,bằngcáchsửdụngAPInàyđểupdatechoHANET",
        "operationId": "partnerAddPlacePartner",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerAddPlacePartnerResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Partner"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "token",
                    "default": "<access_token>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "danhsáchplaceidcủađịađiểmmuốnthêm",
                    "default": "<placeID>,<placeID2>"
                  },
                  "partner_token": {
                    "type": "string",
                    "description": "Thamsốpartner_token",
                    "default": "<partner_token>"
                  }
                },
                "required": [
                  "access_token",
                  "placeID",
                  "partner_token"
                ]
              }
            }
          }
        }
      }
    },
    "/partner/removePlacePartner": {
      "post": {
        "summary": "/partner/removePlacePartner",
        "description": "Đốitáccóthểchouserquảnlýđịađiểmnàokhôngmuốnđẩydatađikhicósựkiệnxảyra,bằngcáchsửdụngAPInàyđểupdatechoHANET.",
        "operationId": "partnerRemovePlacePartner",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerRemovePlacePartnerResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Partner"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "danhsáchplaceidcủađịađiểmmuốnxóa",
                    "default": "<placeID1,placeID2,placeID3,placeID4>"
                  }
                },
                "required": [
                  "access_token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/partner/removeUserPartner": {
      "post": {
        "summary": "/partner/removeUserPartner",
        "description": "Đốitáccóthểxoáliênkếtapp,bằngcáchsửdụngAPInàyđểupdatechoHANET.",
        "operationId": "partnerRemoveUserPartner",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerRemoveUserPartnerResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Partner"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "clientID": {
                    "type": "string",
                    "description": "clientIDđượcHANETcấpriêng",
                    "default": "<clientID>"
                  }
                },
                "required": [
                  "access_token",
                  "clientID"
                ]
              }
            }
          }
        }
      }
    },
    "/partner/getListUserPartner": {
      "post": {
        "summary": "/partner/getListUserPartner",
        "description": "APIchophépđốitáclấydanhsáchcácappliênkếtcủamộtuser.",
        "operationId": "partnerGetListUserPartner",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerGetListUserPartnerResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Partner"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  }
                },
                "required": [
                  "access_token"
                ]
              }
            }
          }
        }
      }
    },
    "/place/getPlaces": {
      "post": {
        "summary": "/place/getPlaces",
        "description": "HANETquảnlýthiếtbịtheođịađiểm.\r\n-1tàikhoảnHANETcóthểquảnlýnhiềuđịađiểm\r\n-1địađiểmcóthểcónhiềuthiếtbịtrongđịađiểmđó\r\n\r\nAPInàychophéplấydanhsáchđịađiểmcủauser.LưuýlàAPInàychỉchophéplấynhữngđịađiểmcủausertạora,địađiểmdongườikhácchiasẻchousersẽkhôngđượctrảvề",
        "operationId": "placeGetPlaces",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceGetPlacesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Place"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        }
      }
    },
    "/place/addPlace": {
      "post": {
        "summary": "/place/addPlace",
        "description": "ChophéptạođịađiểmmớivàotàikhoảnUser.",
        "operationId": "placeAddPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceAddPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Place"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "name": {
                    "type": "string",
                    "description": "Tênđịađiểm",
                    "default": "Cửahàng"
                  },
                  "address": {
                    "type": "string",
                    "description": "Địachỉcủađịađiểm",
                    "default": "156Namkỳkhởinghĩa"
                  }
                },
                "required": [
                  "token",
                  "name",
                  "address"
                ]
              }
            }
          }
        }
      }
    },
    "/place/updatePlace": {
      "post": {
        "summary": "/place/updatePlace",
        "description": "Chophépcậpnhậtthôngtinđịađiểm.Lưuýlàchỉcóthểcậpnhậtthôngtinđịađiểmcủachínhusertạora.",
        "operationId": "placeUpdatePlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceUpdatePlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Place"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểmmuốnchỉnhsửa",
                    "default": "320"
                  },
                  "name": {
                    "type": "string",
                    "description": "Têncủađịađiểm",
                    "default": "Shopquầnáo"
                  },
                  "address": {
                    "type": "string",
                    "description": "Địachỉcủađịađiểm",
                    "default": "Số1Trầnquangkhảiq1tphcm"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "name",
                  "address"
                ]
              }
            }
          }
        }
      }
    },
    "/place/removePlace": {
      "post": {
        "summary": "/place/removePlace",
        "description": "Xóađịađiểmcủauser.Lưuýlàchỉcóthểxoáđịađiểmcủachínhusertạora,vàđịađiểmphảikhôngcóthiếtbịnào.",
        "operationId": "placeRemovePlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceRemovePlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Place"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/place/getPlaceInfo": {
      "post": {
        "summary": "/place/getPlaceInfo",
        "description": "Lấythôngtinchitiếtcủamộtđịađiểm.",
        "operationId": "placeGetPlaceInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceGetPlaceInfoResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Place"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/device/get-list-device": {
      "post": {
        "summary": "/device/get-list-device[Deprecate]",
        "description": "Lấydanhsáchcácthiếtbịcủauser.Thôngtinresponsebaogồmcácthôngtincơbảnlà:deviceID,deviceName,placeName,address.\r\n\r\nHANETquảnlýthiếtbịtheođịađiểm.\r\n-1tàikhoảnHANETcóthểquảnlýnhiềuđịađiểm\r\n-1địađiểmcóthểcónhiềuthiếtbịtrongđịađiểmđó",
        "operationId": "deviceGetListDeviceDeprecated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetListDeviceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        }
      }
    },
    "/device/getListDevice": {
      "post": {
        "summary": "/device/getListDevice",
        "description": "Lấydanhsáchcácthiếtbịcủauser.Thôngtinresponsebaogồmcácthôngtincơbảnlà:deviceID,deviceName,placeName,address.\r\n\r\nHANETquảnlýthiếtbịtheođịađiểm.\r\n-1tàikhoảnHANETcóthểquảnlýnhiềuđịađiểm\r\n-1địađiểmcóthểcónhiềuthiếtbịtrongđịađiểmđó",
        "operationId": "deviceGetListDevice",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetListDeviceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        }
      }
    },
    "/device/getDeviceInfo": {
      "post": {
        "summary": "/device/getDeviceInfo",
        "description": "Lấythôngtincủamộtthiếtbị.\n\n*Thôngtinrequestbaogồmcácparamsau\n*token:accesstoken\n*deviceID:idcủadevicemuốnlấythôngtin\n*Thôngtinresponsebaogồmcácthôngtincơbảnlà:deviceID,deviceName,placeID,placeName.",
        "operationId": "deviceGetDeviceInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetDeviceInfoResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "idcủadevice",
                    "default": "C21201B219"
                  }
                },
                "required": [
                  "token",
                  "deviceID"
                ]
              }
            }
          }
        }
      }
    },
    "/device/get-list-device-by-place": {
      "post": {
        "summary": "/device/get-list-device-by-place[Deprecate]",
        "description": "Lấydanhsáchcácthiếtbịcủa1địađiểm.Thôngtinresponsebaogồmcácthôngtincơbảnlà:deviceID,deviceName,placeName,address.",
        "operationId": "deviceGetListDeviceByPlaceDeprecated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetListDeviceByPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "idcủađịađiểmmuốnlấythiếtbị",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/device/getListDeviceByPlace": {
      "post": {
        "summary": "/device/getListDeviceByPlace",
        "description": "Lấydanhsáchcácthiếtbịcủa1địađiểm.Thôngtinresponsebaogồmcácthôngtincơbảnlà:deviceID,deviceName,placeName,address.",
        "operationId": "deviceGetListDeviceByPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetListDeviceByPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "idcủađịađiểmmuốnlấythiếtbị",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/device/updateDevice": {
      "post": {
        "summary": "/device/updateDevice",
        "description": "Chophépchỉnhsửathôngtinthiếtbị.LưuýlàphiênbảnAPIhiệntạichỉchophépthayđổiTêncủathiếtbị.",
        "operationId": "deviceUpdateDevice",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceUpdateDeviceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "idcủathiếtbịmuốnchỉnhsửa",
                    "default": "<deviceID>"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "Têncủathiếtbịmuốnchỉnhsửa",
                    "default": "HANETHCMTEST"
                  }
                },
                "required": [
                  "token",
                  "deviceID",
                  "deviceName"
                ]
              }
            }
          }
        }
      }
    },
    "/device/setDeviceMQTT": {
      "post": {
        "summary": "/device/setDeviceMQTT",
        "description": "ChophépcấuhìnhMQTTchothiếtbị.Nếuđượcbật,khithiếtbịsẽgửithôngtincheckinđếnMQTTbrokerngaylậptức.\n\nMQTTtopic:`/topic/detected/$camera_id`\nMQTTpayload:\n\n```json\n{\n\"msg_id\":\"abcdef-1122-3344-5566-ghijklmok\",\n\"camera_id\":\"$string\",\n\"person_id\":\"$string\",\n\"person_type\":\"$string\",\n\"date_time\":\"DDMMYYYHHmmSS\",\n}\n\n```",
        "operationId": "deviceSetDeviceMQTT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSetDeviceMQTTResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "idcủathiếtbịmuốnchỉnhsửa",
                    "default": "<deviceID>"
                  },
                  "enable": {
                    "type": "string",
                    "description": "DùngđểbậthoặctắttínhnăngMQTT1:ON,0:OFF\n",
                    "default": "<0hoặc1>"
                  },
                  "url": {
                    "type": "string",
                    "description": "urlcủaMQTTBroker",
                    "default": "<url>"
                  },
                  "username": {
                    "type": "string",
                    "description": "usernamecủaMQTTBroker",
                    "default": "<username>"
                  },
                  "password": {
                    "type": "string",
                    "description": "passwordcủaMQTTBroker",
                    "default": "<password>"
                  },
                  "image": {
                    "type": "string",
                    "description": "DùngđểbậthoặctắttínhnănggửihìnhcheckinquaMQTTdướidạngBase64",
                    "default": "<0hoặc1>"
                  }
                },
                "required": [
                  "token",
                  "deviceID",
                  "enable",
                  "url",
                  "username",
                  "password",
                  "image"
                ]
              }
            }
          }
        }
      }
    },
    "/device/get-connection-status": {
      "post": {
        "summary": "/device/get-connection-status[Deprecate]",
        "description": "Lấytrạngtháionlinecủadanhsáchthiếtbị\r\n-Nếudeviceonlinethìsẽtrảvềtrue.\r\n-Nếudeviceofflinehoặckhôngcóquyềntruycậpthìsẽtrảvềfalse.",
        "operationId": "deviceGetConnectionStatusDeprecated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetConnectionStatusResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceIDs": {
                    "type": "string",
                    "description": "danhsáchidcủathiếtbịmuốnlấytrạngthái",
                    "default": "<deviceID1,deviceID2,deviceID3,deviceID4>"
                  }
                },
                "required": [
                  "token",
                  "deviceIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/device/getConnectionStatus": {
      "post": {
        "summary": "/device/getConnectionStatus",
        "description": "Lấytrạngtháionlinecủadanhsáchthiếtbị\r\n-Nếudeviceonlinethìsẽtrảvềtrue.\r\n-Nếudeviceofflinehoặckhôngcóquyềntruycậpthìsẽtrảvềfalse.",
        "operationId": "deviceGetConnectionStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGetConnectionStatusResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceIDs": {
                    "type": "string",
                    "description": "danhsáchidcủathiếtbịmuốnlấytrạngthái",
                    "default": "<deviceID1,deviceID2,deviceID3,deviceID4>"
                  }
                },
                "required": [
                  "token",
                  "deviceIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/person/register": {
      "post": {
        "summary": "/person/register",
        "description": "Đăngkíhìnhảnhkhuônmặtvớitàikhoảnuser.\n\n*Đểthiếtbịnhậndạngđượcngườinàođóthìcầnphảiđăngkíhìnhảnhcủangườiđóđóvớihệthống\n*HANETquảnlýdữliệukhuônmặttheođịađiểmchứkhôngphảitheothiếtbị,nêncácthiếtbịnếuđượcthêmvàocùng1địađiểmthìsẽđượcđồngbộdữliệukhuônmặtvớinhau.\n*Chỉcầndùng1hìnhlàđủđểđăngkícho1người\n\n\nVàiyêucầukhidùngAPInày:\n\n*APIPostdùng`muiltipart/form-data`\n*Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*736.\n*Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n*Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\n*CầnthiếtlậptimeoutchoAPInàytừ10-30s\n*ĐốitáccầngửiIDcủangườimuốnđăngkíquachoHANETthôngquaparamaliasID.HANETsẽdùngIDnàyđểsửdụngchocácAPIkhácnhưupdate,deletengườiđăngkí\n\n*NếuđốitáckhôngcầnđặtIDriêngchouserthìkhôngcầntruyềnparamaliasID,vàcóthểdùngpersonIDcủahanetđểsửdụngcácapiupdate,deletechouser",
        "operationId": "personRegister",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRegisterResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "name": {
                    "type": "string",
                    "description": "têncủangườimuốnđăngkí",
                    "default": "Như"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Phảiresizevềđúngkíchthước1280*738(w*h),chỉhỗtrợJPG,PNG,JPEG"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnđăngkívàohệthống",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểmcầnthêmnhânviên",
                    "default": "<placeID>"
                  },
                  "title": {
                    "type": "string",
                    "description": "Chứcdanhnhânviên",
                    "default": "testtest"
                  },
                  "type": {
                    "type": "string",
                    "description": "Nhânviên:0,Kháchhàng:1.Mặcđịnhsẽlà0",
                    "default": "0"
                  },
                  "sex": {
                    "type": "string",
                    "description": "GiớiTính0:Nữ,1:Nam",
                    "default": "0"
                  },
                  "age": {
                    "type": "string",
                    "description": "Tuổi",
                    "default": "20"
                  },
                  "dob": {
                    "type": "string",
                    "description": "Ngàysinh",
                    "default": "dd/mm/yyyy"
                  },
                  "departmentID": {
                    "type": "string",
                    "description": "idcủaphòngban",
                    "default": "1"
                  }
                },
                "required": [
                  "token",
                  "name",
                  "file",
                  "aliasID",
                  "placeID",
                  "title",
                  "type",
                  "sex",
                  "age",
                  "dob",
                  "departmentID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/registerByUrl": {
      "post": {
        "summary": "/person/registerByUrl",
        "description": "Đăngkíhìnhảnhkhuônmặtvớitàikhoảnuser.\n\n*Đểthiếtbịnhậndạngđượcngườinàođóthìcầnphảiđăngkíhìnhảnhcủangườiđóđóvớihệthống\n*HANETquảnlýdữliệukhuônmặttheođịađiểmchứkhôngphảitheothiếtbị,nêncácthiếtbịnếuđượcthêmvàocùng1địađiểmthìsẽđượcđồngbộdữliệukhuônmặtvớinhau.\n*Chỉcầndùng1hìnhlàđủđểđăngkícho1người\n\n\nVàiyêucầukhidùngAPInày:\n\n*APIPostdùng`url`\n*Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*736.\n*Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n*Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\n*CầnthiếtlậptimeoutchoAPInàytừ10-30s\n*ĐốitáccầngửiIDcủangườimuốnđăngkíquachoHANETthôngquaparamaliasID.HANETsẽdùngIDnàyđểsửdụngchocácAPIkhácnhưupdate,deletengườiđăngkí\n\n\n*NếuđốitáckhôngcầnđặtIDriêngchouserthìkhôngcầntruyềnparamaliasID,vàcóthểdùngpersonIDcủahanetđểsửdụngcácapiupdate,deletechouser",
        "operationId": "personRegisterByUrl",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRegisterByUrlResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "name": {
                    "type": "string",
                    "description": "têncủangườimuốnđăngkí",
                    "default": "Nhưxinhđẹp"
                  },
                  "url": {
                    "type": "string",
                    "description": "Phảiresizevềđúngkíchthước1280*736(w*h),chỉhỗtrợJPG,PNG,JPEG",
                    "default": "<url>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnđăngkívàohệthống.",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểmcầnthêmnhânviên",
                    "default": "<placeID>"
                  },
                  "title": {
                    "type": "string",
                    "description": "Chứcdanhnhânviên",
                    "default": "testtest"
                  },
                  "type": {
                    "type": "string",
                    "description": "Nhânviên:0,Kháchhàng:1.Mặcđịnhsẽlà0",
                    "default": "0"
                  }
                },
                "required": [
                  "token",
                  "name",
                  "url",
                  "aliasID",
                  "placeID",
                  "title",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceImage": {
      "post": {
        "summary": "/person/updateByFaceImage",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\n\nVàiyêucầukhidùngAPInày:\n\n*APIPostdùng`muiltipart/form-data`\n*Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\n*Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n*Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó.\n*ĐốitáccóthểdùngparamaliasIDhoặcpersonIDlàIDcủangườicầnupdatehình\n*CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceImage",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceImageResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "file[]": {
                    "type": "string",
                    "format": "binary",
                    "description": "Phảiresizevềđúngkíchthước1280*736,chỉhỗtrợJPG,PNG,JPEG"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatehình.\nIDcóthểlàaliasIDhoặcpersonID",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "": {
                    "type": "string",
                    "description": "Thamsố"
                  }
                },
                "required": [
                  "token",
                  "file[]",
                  "aliasID",
                  "placeID",
                  ""
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceImageByAliasID": {
      "post": {
        "summary": "/person/updateByFaceImageByAliasID",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\r\n\r\n\r\nVàiyêucầukhidùngAPInày:\r\n-APIPostdùng`muiltipart/form-data`\r\n-Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\r\n-Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\r\n-Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\r\n-CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceImageByAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceImageByAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "file[]": {
                    "type": "string",
                    "format": "binary",
                    "description": "Phảiresizevềđúngkíchthước1280*736,chỉhỗtrợJPG,PNG,JPEG"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatehình.\nIDCóthểdùngaliasIDhoặcpersonID",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "file[]",
                  "aliasID",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceImageByPersonID": {
      "post": {
        "summary": "/person/updateByFaceImageByPersonID",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\r\n\r\n\r\nVàiyêucầukhidùngAPInày:\r\n-APIPostdùng`muiltipart/form-data`\r\n-Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\r\n-Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\r\n-Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\r\n-CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceImageByPersonID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceImageByPersonIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "file[]": {
                    "type": "string",
                    "format": "binary",
                    "description": "Phảiresizevềđúngkíchthước1280*736,chỉhỗtrợJPG,PNG,JPEG"
                  },
                  "personID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatehình.\nIDCóthểdùngaliasIDhoặcpersonID",
                    "default": "<personID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "file[]",
                  "personID",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceUrl": {
      "post": {
        "summary": "/person/updateByFaceUrl",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\n\n\nVàiyêucầukhidùngAPInày:\n-APIPostdùng`url`\n-Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\n-Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n-Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\n-CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceUrl",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceUrlResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceUrlByAliasID": {
      "post": {
        "summary": "/person/updateByFaceUrlByAliasID",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\n\n\nVàiyêucầukhidùngAPInày:\n-APIPostdùng`url`\n-Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\n-Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n-Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\n-CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceUrlByAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceUrlByAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "url": {
                    "type": "string",
                    "description": "urllàlinkảnhcủapersoncầnthayđổi.Phảiresizevềđúngkíchthước1280*736,chỉhỗtrợJPG,PNG,JPEG",
                    "default": "<url>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatehình",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "url",
                  "aliasID",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateByFaceUrlByPersonID": {
      "post": {
        "summary": "/person/updateByFaceUrlByPersonID",
        "description": "Trongtrườnghợpđãđăngkíhìnhảnhcủa1người,vàngườiđóđãhoạtđộng1thờigiantronghệthống,nếucónhucầuthayđổihìnhảnhnhậndiện,thìcóthểsửdụngAPInày,thìthayvìphảixoáhìnhngườicũsauđóđăngkílại,việcnàysẽdẫnđếnvấnđềlàmấthếtdữliệucủangườiđó\n\n\nVàiyêucầukhidùngAPInày:\n-APIPostdùng`url`\n-Hìnhtrướckhisubmitphảiđượcresizevềđúngkíchthước1280*738.\n-Ítnhất1thiếtbịtrongtrongđịađiểmcóonlinethìmớiđăngkíuserđược.\n-Nếucónhiềuthiếtbịtrongtrongcùng1địađiểm,thìsaukhiđăngkíthànhcông,tấtcảthiếtbịđềuđượcđăngkíuserđó\n-CầnthiếtlậptimeoutchoAPInàytừ10-30s",
        "operationId": "personUpdateByFaceUrlByPersonID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateByFaceUrlByPersonIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "url": {
                    "type": "string",
                    "description": "urllàlinkảnhcủapersoncầnthayđổi.Phảiresizevềđúngkíchthước1280*736,chỉhỗtrợJPG,PNG,JPEG",
                    "default": "<url>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatehình",
                    "default": "<personID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "url",
                  "personID",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/get-list-by-place": {
      "post": {
        "summary": "/person/get-list-by-place[Deprecate]",
        "description": "Lấydanhsáchpersoncủamộtđịađiểm.\n\nThôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.\n\n-apicóhỗtrợphântrangtheopage,size.\n-mặcđịnhsẽtrảvề50item,nếumuốnlấynhiềuhơnnữathìtruyềnthêmparampagevàsize.",
        "operationId": "personGetListByPlaceDeprecated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetListByPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "type": {
                    "type": "string",
                    "description": "Nhânviên:0,Kháchàng:1,Tấtcả:-1",
                    "default": "0"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getListByPlace": {
      "post": {
        "summary": "/person/getListByPlace",
        "description": "Lấydanhsáchpersoncủamộtđịađiểm.\n\nThôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.\n\n-apicóhỗtrợphântrangtheopage,size.\n-mặcđịnhsẽtrảvề50item,nếumuốnlấynhiềuhơnnữathìtruyềnthêmparampagevàsize.",
        "operationId": "personGetListByPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetListByPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm(required)",
                    "default": "<placeID>"
                  },
                  "type": {
                    "type": "string",
                    "description": "Nhânviên:0,Kháchàng:1,Tấtcả:-1",
                    "default": "<0or1>"
                  },
                  "page": {
                    "type": "string",
                    "description": "sốpage",
                    "default": "<page>"
                  },
                  "size": {
                    "type": "string",
                    "description": "sốlượngitemcầnlấytrong1page",
                    "default": "<size>"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "type",
                  "page",
                  "size"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getTotalPersonByPlaceID": {
      "post": {
        "summary": "/person/getTotalPersonByPlaceID",
        "description": "APIhỗtrợđốitácLấytổngsốpersoncủamộtđịađiểm.\n\nThôngtinresponsesẽtrảvềsốlượngpersoncủamộtđịađiểm.",
        "operationId": "personGetTotalPersonByPlaceID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetTotalPersonByPlaceIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm(required)",
                    "default": "<placeID>"
                  },
                  "type": {
                    "type": "string",
                    "description": "Nhânviên:0,Kháchàng:1,Tấtcả:-1",
                    "default": "<0or1>"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "type"
                ]
              }
            }
          }
        }
      }
    },
    "/person/get-list-by-aliasID-all-place": {
      "post": {
        "summary": "/person/get-list-by-aliasID-all-place[Deprecate]",
        "description": "LấydanhsáchpersoncủatấtcảđịađiểmthôngquaaliasID.Thôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.",
        "operationId": "personGetListByAliasIdAllPlaceDeprecated",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetListByAliasIDAllPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "ThamsốaliasID",
                    "default": "<aliasID>"
                  }
                },
                "required": [
                  "token",
                  "aliasID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getListByAliasIDAllPlace": {
      "post": {
        "summary": "/person/getListByAliasIDAllPlace",
        "description": "LấydanhsáchpersoncủatấtcảđịađiểmthôngquaaliasID.Thôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.",
        "operationId": "personGetListByAliasIDAllPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetListByAliasIDAllPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "ThamsốaliasID",
                    "default": "<aliasID>"
                  }
                },
                "required": [
                  "token",
                  "aliasID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getListByAliasID": {
      "post": {
        "summary": "/person/getListByAliasID",
        "description": "LấydanhsáchpersoncủatấtcảđịađiểmthôngquaaliasIDvàdanhsáchplaceID\r\nThôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.",
        "operationId": "personGetListByAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetListByAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "aliasIDcủauser",
                    "default": "<aliasID>"
                  },
                  "placeIDs": {
                    "type": "string",
                    "description": "cóthểtruyềndanhsáchplaceIDđểfilter(Khôngbắtbuộc)",
                    "default": "<placeID1><placeID2><placeID3>,..."
                  }
                },
                "required": [
                  "token",
                  "aliasID",
                  "placeIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getUserInfoByAliasID": {
      "post": {
        "summary": "/person/getUserInfoByAliasID",
        "description": "LấydanhsáchpersoncủatấtcảđịađiểmthôngquaaliasID.Thôngtinresponsebaogồmcácthôngtincơbảnlà:personID,name,avatar.",
        "operationId": "personGetUserInfoByAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetUserInfoByAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "ThamsốaliasID",
                    "default": "<aliasID>"
                  }
                },
                "required": [
                  "token",
                  "aliasID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getUserInfoByPersonID": {
      "post": {
        "summary": "/person/getUserInfoByPersonID",
        "description": "Lấythôngtincủa1usertheopersonID",
        "operationId": "personGetUserInfoByPersonID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetUserInfoByPersonIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "ThamsốpersonID",
                    "default": "<personID>"
                  }
                },
                "required": [
                  "token",
                  "personID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/remove": {
      "post": {
        "summary": "/person/remove",
        "description": "XóafacetheoaliasIDởtấtcảđịađiểmmàuserđangquảnlý",
        "operationId": "personRemove",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRemoveResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnxoáhình",
                    "default": "<aliasID>"
                  }
                },
                "required": [
                  "token",
                  "aliasID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/removeByPlace": {
      "post": {
        "summary": "/person/removeByPlace",
        "description": "XóafacetheoaliasIDở1địađiểmnàođómàuserđangquảnlý",
        "operationId": "personRemoveByPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRemoveByPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnxoáhình",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "aliasID",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/removePersonByListAliasID": {
      "post": {
        "summary": "/person/removePersonByListAliasID",
        "description": "XóafacetheodanhsáchaliasIDởnhữngđịađiểmmàuserđangquảnlý",
        "operationId": "personRemovePersonByListAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRemovePersonByListAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasIDs": {
                    "type": "string",
                    "description": "danhsáchaliasIDcủangườicầnxoá",
                    "default": "<aliasID1>,<aliasID2>,<aliasID3>,..."
                  },
                  "placeIDs": {
                    "type": "string",
                    "description": "danhsáchplaceIDcóchứaaliaIDmuốnxóa",
                    "default": "<placeID1>,<placeID2>,<placeID3>,...."
                  }
                },
                "required": [
                  "token",
                  "aliasIDs",
                  "placeIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/person/removeAllPersonInPlace": {
      "post": {
        "summary": "/person/removeAllPersonInPlace",
        "description": "Xóatấtcảfacetại1địađiểmmàuserđangquảnlý",
        "operationId": "personRemoveAllPersonInPlace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRemoveAllPersonInPlaceResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađiaạđiểmcầnxoá",
                    "default": "<placeID>"
                  }
                },
                "required": [
                  "token",
                  "placeID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/removePersonByID": {
      "post": {
        "summary": "/person/removePersonByID",
        "description": "XóafacetheopersonIDmàuserđangquảnlý",
        "operationId": "personRemovePersonByID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRemovePersonByIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "IDcủangườicầnxoáhình",
                    "default": "<personID>"
                  }
                },
                "required": [
                  "token",
                  "personID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/update": {
      "post": {
        "summary": "/person/update",
        "description": "ChophépthayđổicácthôngtintextcủangườiđãđăngkíhìnhảnhvớiHANET\nĐốitácCóthểdùngaliasIDhoặcpersonIDđểupdatethôngtinchoperson.",
        "operationId": "personUpdate",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "updates": {
                    "type": "string",
                    "description": "thôngtinchỉnhsữabaogồmnamevàtitle",
                    "default": "{\"name\":\"NhưKim\",\"title\":\"develop\"}"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatethôngtin.\nCóthểdùngaliasIDhoặcpersonID\n\n\n",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "ThamsốpersonID",
                    "default": "<personID>"
                  }
                },
                "required": [
                  "token",
                  "updates",
                  "aliasID",
                  "placeID",
                  "personID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateInfo": {
      "post": {
        "summary": "/person/updateInfo",
        "description": "ChophépthayđổicácthôngtintextcủangườiđãđăngkíhìnhảnhvớiHANET.\nĐốitácCóthểdùngaliasIDhoặcpersonIDđểupdatethôngtinchoperson.",
        "operationId": "personUpdateInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateInfoResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Thamsốtoken",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "IDcủangườicầnupdatethôngtin.\nIDCóthểdùngaliasIDhoặcpersonID",
                    "default": "<aliasID>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "name": {
                    "type": "string",
                    "description": "namecủauser",
                    "default": "<name>"
                  },
                  "title": {
                    "type": "string",
                    "description": "môtảuser",
                    "default": "<title"
                  }
                },
                "required": [
                  "token",
                  "aliasID",
                  "placeID",
                  "name",
                  "title"
                ]
              }
            }
          }
        }
      }
    },
    "/person/updateAliasID": {
      "post": {
        "summary": "/person/updateAliasID",
        "description": "HANETsửdụngpersonIDđểđịnhdanhthôngtinngườiđăngkíhìnhảnh.ĐốitácquảnlýbằngIDcủariêngmình,thôngquaparamaliasID.Tuynhiên,cótrườnghợplàuserdùngAppcủaHANETđểđăngkíhìnhảnhngườinàođó.Khiđó,ngườimớiđượcđăngkínàysẽchỉcópersonIDmàkhôngcóaliasID.\r\n\r\nAPInàychophépđốitáccậpnhậtlạialiasIDcủamình.",
        "operationId": "personUpdateAliasID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUpdateAliasIDResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "persionIDcủaHANET",
                    "default": "<personID>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "aliasIDcủađốitác",
                    "default": "<aliasID>"
                  }
                },
                "required": [
                  "token",
                  "personID",
                  "aliasID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/takeFacePicture": {
      "post": {
        "summary": "/person/takeFacePicture",
        "description": "APInàychophépđốitácchụpảnhcủamộtusertrướccamera.",
        "operationId": "personTakeFacePicture",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonTakeFacePictureResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "deviceID": {
                    "type": "string",
                    "description": "idcủadevice",
                    "default": "<deviceID>"
                  }
                },
                "required": [
                  "token",
                  "deviceID"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getCheckinByPlaceIdInDay": {
      "post": {
        "summary": "/person/getCheckinByPlaceIdInDay",
        "description": "ChophépliệtkêdatacheckintrongcùngmộtngàycủatấtcảnhữngngườiđãđăngkínhậndiệnvớiHANET.\n\nLấydanhsáchcheckintheodạngphântrang.mặcđịnhsẽtrảvề500itemnếukhôngtruyềnvàopagesize.\n\n*placeIDlàIDcủađịađiểmmuốnlấydatacheckin\n*date:thờigiancầnlấydatacheckin,ngàyđịnhdạngyyyy-mm-dd\n*devices:làdanhsáchdevicemuốnfilterđểlấydatacheckin.\nNếukhôngtruyềnparamdevicesthìsẽmặcđịnhlấyhếtdatacheckincủatấtcảdevicetrongplaceđó.\n*exDevices:filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy.\n*exType:filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩytrongđó0:nhânviên,1:kháchhàng,2:ngườilạ\n*personIDs:filtertheodanhsáchidperson,idpersoncáchnhaubởidấuphẩy.\n*aliasIDs:filtertheodanhsáchidalias,idaliascáchnhaubởidấuphẩy.\n*page:sốpagecầnlấydata\n*size:sốlượngitemcầnlấycủa1page.(tốiđalà500item)",
        "operationId": "personGetCheckinByPlaceIdInDay",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetCheckinByPlaceIdInDayResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "(required)IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "date": {
                    "type": "string",
                    "description": "(required)thờigiancầnlấydatacheckin,ngàyđịnhdạngyyyy-mm-dd",
                    "default": "<date>"
                  },
                  "exType": {
                    "type": "string",
                    "description": "-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ\n\nmặcđịnhthìsẽtrảvềtấtcảngườiđãcheckin,baogồmcảngườilạ,nhânviên,kháchhàng.Trườnghợpkomuốnlấyhết,vídụnhưmuốnbỏbớtngườilạrathìtruyềnvảoexType:2\n\nlistexType:1,2:cáchnhaubằngdấuphẩy.\n",
                    "default": "2,1"
                  },
                  "devices": {
                    "type": "string",
                    "description": "Danhsáchdevicemuốnlấy.CácDeviceIDcáchnhaubằngdấuphẩy.",
                    "default": "<deviceID1,deivceID2,deviceID3,deviceID4>"
                  },
                  "exDevices": {
                    "type": "string",
                    "description": "Danhsáchngoạitrừcácdevice.CácDeviceIDcáchnhaubằngdấuphẩy.",
                    "default": "<deviceID1,deivceID2,>"
                  },
                  "type": {
                    "type": "string",
                    "description": "filtertheotype.CácIDtypecáchnhaubằngdấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ\n",
                    "default": "0"
                  },
                  "personID": {
                    "type": "string",
                    "description": "IDcủaperson",
                    "default": "<personID>"
                  },
                  "personIDs": {
                    "type": "string",
                    "description": "filtertheodanhsáchidperson,idpersoncáchnhaubởidấuphẩy.",
                    "default": "<personID1,personID2,personID3,..>"
                  },
                  "aliasIDs": {
                    "type": "string",
                    "description": "filtertheodanhsáchidalias,idaliascáchnhaubởidấuphẩy.",
                    "default": "<aliasID1,aliasID2,aliasID3,....>"
                  },
                  "page": {
                    "type": "string",
                    "description": "sốpage",
                    "default": "<page>"
                  },
                  "size": {
                    "type": "string",
                    "description": "sốlượngitemcầnlấytrong1page",
                    "default": "<size>"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "date",
                  "exType",
                  "devices",
                  "exDevices",
                  "type",
                  "personID",
                  "personIDs",
                  "aliasIDs",
                  "page",
                  "size"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getTotalCheckinByPlaceIdInDay": {
      "post": {
        "summary": "/person/getTotalCheckinByPlaceIdInDay",
        "description": "ChophéplấytổngcheckintheoplaceIDtrongmộtngày.\n\n*placeIDlàIDcủađịađiểmmuốnlấydatacheckin\n*devices:làdanhsáchdevicemuốnfilterđểlấydatacheckin.\nNếukhôngtruyềnparamdevicesthìsẽmặcđịnhlấyhếtdatacheckincủatấtcảdevicetrongplaceđó.\n*exDevices:filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy.\n*exType:filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩytrongđó0:nhânviên,1:kháchhàng,2:ngườilạ\n*aliasID:filtertheoaliasID\n*personID:filtertheopersonID",
        "operationId": "personGetTotalCheckinByPlaceIdInDay",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetTotalCheckinByPlaceIdInDayResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "(required)IDcủađịađiểm",
                    "default": "<placeID>"
                  },
                  "date": {
                    "type": "string",
                    "description": "(required)thờigiancầnlấydatacheckin,ngàyđịnhdạngyyyy-mm-dd",
                    "default": "yyyy-mm-dd"
                  },
                  "exType": {
                    "type": "string",
                    "description": "-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ\n\nmặcđịnhthìsẽtrảvềtấtcảngườiđãcheckin,baogồmcảngườilạ,nhânviên,kháchhàng.Trườnghợpkomuốnlấyhết,vídụnhưmuốnbỏbớtngườilạrathìtruyềnvảoexType:2\n\nlistexType:1,2:cáchnhaubằngdấuphẩy.\n",
                    "default": "2,1"
                  },
                  "devices": {
                    "type": "string",
                    "description": "Danhsáchdevicemuốnlấy.CácDeviceIDcáchnhaubằngdấuphẩy.",
                    "default": "deviceID1,deviceID2,deviceID3"
                  },
                  "exDevices": {
                    "type": "string",
                    "description": "Danhsáchngoạitrừcácdevice.CácDeviceIDcáchnhaubằngdấuphẩy.",
                    "default": "deviceID1,deviceID2,deviceID3"
                  },
                  "type": {
                    "type": "string",
                    "description": "filtertheotype.CácIDtypecáchnhaubằngdấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ\n",
                    "default": "0"
                  },
                  "aliasIDs": {
                    "type": "string",
                    "description": "listaliasIDcủaperson,cáchnhaubằngdấu,",
                    "default": "<aliasID1,aliasID2,aliasID3,....>"
                  },
                  "personIDs": {
                    "type": "string",
                    "description": "listIDcủaperson,cáchnhaubằngdấu,",
                    "default": "<personID1,personID2,personID3,...>"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "date",
                  "exType",
                  "devices",
                  "exDevices",
                  "type",
                  "aliasIDs",
                  "personIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getCheckinByPlaceIdInTimestamp": {
      "post": {
        "summary": "/person/getCheckinByPlaceIdInTimestamp",
        "description": "ChophépliệtkêdatacheckintrongkhoảngthờigiancùngmộtthángnhữngngườiđãđăngkínhậndiệnvớiHANET.\n\nLấydanhsáchcheckintheodạngphântrang.mặcđịnhsẽtrảvề500itemnếukhôngtruyềnvàopagesize.\n\n*placeIDlàIDcủađịađiểmmuốnlấydatacheckin\n*from:thờigianbắtđầumuốnlấydatacheckin\n*to:thờigiankếtthúcmuốnlấydatacheckin\n*Điềukiện:\n*from<tovàthờigianfromvàtophảitrongcùng1tháng.\n*devices:làdanhsáchdevicemuốnfilterđểlấydatacheckin.\nNếukhôngtruyềnparamdevicesthìsẽmặcđịnhlấyhếtdatacheckincủatấtcảdevicetrongplaceđó.\n*exDevices:filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy.\n*exType:filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩytrongđó0:nhânviên,1:kháchhàng,2:ngườilạ\n*personIDs:filtertheodanhsáchidperson,idpersoncáchnhaubởidấuphẩy.\n*aliasIDs:filtertheodanhsáchidalias,idaliascáchnhaubởidấuphẩy.\n*page:sốpagecầnlấydata\n*size:sốlượngitemcầnlấycủa1page.(tốiđa500item)",
        "operationId": "personGetCheckinByPlaceIdInTimestamp",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetCheckinByPlaceIdInTimestampResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "(required)IDcủađịađiểmmuốnlấydatacheckin",
                    "default": "<placeID>"
                  },
                  "from": {
                    "type": "string",
                    "description": "(required)thờigianbắtđầucầnlấydatacheckin,Timestamptínhtheomilisecond",
                    "default": "<timestampfrom>"
                  },
                  "to": {
                    "type": "string",
                    "description": "(required)thờigiankếtthúccầnlấydatacheckin,Timestamptínhtheomilisecond",
                    "default": "<timestampto>"
                  },
                  "devices": {
                    "type": "string",
                    "description": "filtertheodanhsáchiddevice,iddevicecáchnhaubởidấuphẩy.",
                    "default": "<deviceID1,deivceID2,deviceID3,deviceID4>"
                  },
                  "type": {
                    "type": "string",
                    "description": "filtertheoidtype.Danhsáchidtypecáchnhaubởidấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ",
                    "default": "0"
                  },
                  "exType": {
                    "type": "string",
                    "description": "filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ",
                    "default": "0,1"
                  },
                  "exDevices": {
                    "type": "string",
                    "description": "filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy",
                    "default": "<deivceID2,deivceID3>"
                  },
                  "aliasID": {
                    "type": "string",
                    "description": "aliasIDcủaperson",
                    "default": "<aliasID>"
                  },
                  "personID": {
                    "type": "string",
                    "description": "IDcủaperson",
                    "default": "<personID>"
                  },
                  "personIDs": {
                    "type": "string",
                    "description": "filtertheodanhsáchidperson,idpersoncáchnhaubởidấuphẩy.",
                    "default": "<personID1,personID2,personID3,..>"
                  },
                  "aliasIDs": {
                    "type": "string",
                    "description": "filtertheodanhsáchidalias,idaliascáchnhaubởidấuphẩy.",
                    "default": "<aliasID1,aliasID2,aliasID3,....>"
                  },
                  "page": {
                    "type": "string",
                    "description": "sốpage",
                    "default": "<page>"
                  },
                  "size": {
                    "type": "string",
                    "description": "sốlượngitemcầnlấytrong1page",
                    "default": "<size>"
                  }
                },
                "required": [
                  "token",
                  "placeID",
                  "from",
                  "to",
                  "devices",
                  "type",
                  "exType",
                  "exDevices",
                  "aliasID",
                  "personID",
                  "personIDs",
                  "aliasIDs",
                  "page",
                  "size"
                ]
              }
            }
          }
        }
      }
    },
    "/person/getTotalCheckinByPlaceIdInTimestamp": {
      "post": {
        "summary": "/person/getTotalCheckinByPlaceIdInTimestamp",
        "description": "Chophéplấytotalcheckintrongkhoảngthờigiancùngmộttháng.\n\n*placeIDlàIDcủađịađiểmmuốnlấydatacheckin\n*from:thờigianbắtđầumuốnlấydatacheckin\n*to:thờigiankếtthúcmuốnlấydatacheckin\n*Điềukiện:\n*from<to\n*devices:làdanhsáchdevicemuốnfilterđểlấydatacheckin.\nNếukhôngtruyềnparamdevicesthìsẽmặcđịnhlấyhếtdatacheckincủatấtcảdevicetrongplaceđó.\n*exDevices:filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy.\n*exType:filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩytrongđó0:nhânviên,1:kháchhàng,2:ngườilạ\n*aliasID:filtertheoaliasID\n*personID:filtertheopersonID",
        "operationId": "personGetTotalCheckinByPlaceIdInTimestamp",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thànhcông",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGetTotalCheckinByPlaceIdInTimestampResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "(required)",
                    "default": "<ACCESS_TOKEN>"
                  },
                  "placeID": {
                    "type": "string",
                    "description": "(required)IDcủađịađiểmmuốnlấydatacheckin",
                    "default": "<placeID>"
                  },
                  "from": {
                    "type": "string",
                    "description": "(required)thờigianbắtđầucầnlấydatacheckin,Timestamptínhtheomilisecond",
                    "default": "<timestampTo>"
                  },
                  "to": {
                    "type": "string",
                    "description": "(required)thờigiankếtthúccầnlấydatacheckin,Timestamptínhtheomilisecond",
                    "default": "<timestampfrom>"
                  },
                  "devices": {
                    "type": "string",
                    "description": "filtertheodanhsáchiddevice,iddevicecáchnhaubởidấuphẩy.",
                    "default": "<deviceID1,deivceID2,deviceID3,deviceID4>"
                  },
                  "type": {
                    "type": "string",
                    "description": "filtertheoidtype.Danhsáchidtypecáchnhaubởidấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ",
                    "default": "0"
                  },
                  "exType": {
                    "type": "string",
                    "description": "filterngoạitrừdanhsáchexType.DanhsáchidexTypecáchnhaubởidấuphẩy\n-0:nhânviên\n-1:kháchhàng\n-2:ngườilạ",
                    "default": "0,1"
                  },
                  "exDevices": {
                    "type": "string",
                    "description": "filterngoạitrừdanhsáchdevice,danhsáchiddevicecáchnhaubởidấuphẩy",
                    "default": "deivceID1,deivceID2,deivceID3,...."
[...]
